
.main-index{
    border-bottom: 1px solid black;
    


}


.cab-conteiner-inicio{
    padding-top: 285px;
    padding-bottom: 285px;
    background-image: url(../multimedia/1-1.png);
    background-size: cover;
    
    
}

.cab-box-titulo{
    
    padding: 10px;
    background-image: linear-gradient(#dddbf1, #b7b3db);
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.4);
    
}


